<p>
  <b>Question:</b>
  <%=h @faq.question %>
</p>

<p>
  <b>Answer:</b>
  <%=h @faq.answer %>
</p>
<p>
  <strong>Tags:</strong>
  <% for tag in @faq.tags %> 
  <%= link_to tag.name, faqs_path(:view =>'tag', :tag => tag.name) %><% end %>  
</p>


<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>
